
<div class="page-navs bg-white">
    <div class="nav-scroller">
        <div class="nav nav-tabs nav-line nav-color-secondary d-flex align-items-center justify-contents-center w-100">
            <a style="display:none" id="o1" class="nav-link mr-5" href="Menu?id=1">Menú</a>
            <a style="display: none" id="o2" class="nav-link mr-5" href="MenuRoles?id=2">MenúRoles</a>
            <a style="display: none " id="o3" class="nav-link mr-5" href="Roles?id=3">Roles</a>
            <a id="o4" class="nav-link mr-5" href="Configuracion?id=4">Sucursales</a>
            <a id="o5" class="nav-link mr-5" href="Usuarios?id=5">Usuarios</a>
            <a id="o6" class="nav-link mr-5" href="Ofertas?id=6">Ofertas</a>
        </div>
    </div>
</div>

