


<a href="/Marketing/Modificar?idcampaña=@Request["idcampaña"]">Modificar Campaña</a> |
<a href="/Marketing/ClientesModificar?idcampaña=@Request["idcampaña"]">Modificar Clientes</a> |
<a href="/Marketing/CorreoModificar?idcampaña=@Request["idcampaña"]">Modificar Correo</a> |
<a href="/Marketing/Recordatorios?idcampaña=@Request["idcampaña"]">Recordatorios</a>
