
@{
    ViewBag.Title = "Correo";
}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<script>

    $(document).ready(function () {

        $('#IndexMarketing').addClass("nav-item active submenu");

    });

</script>

<style>

    .responsiva {
        max-width: 100%;
        height: auto
    }
</style>

<input type="hidden" id="IdCampaña" value="@Session["IdCampaña"]" />

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Crear el Correo a Enviar</h4>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="card">


                <div class="card-body">


                    <form method="post" action="/Marketing/Correo">
                        <input type="hidden" name="IdCampaña" value="@Session["IdCampaña"]" />

                        <div class="mail-wrapper bg-white" style="width:100%">
                            <div class="page-content mail-content">
                                
                                <div class="email-compose-fields">
                                    <div class="form-group form-floating-label">                                        
                                            <input type="text" class="form-control input-solid" id="asunto" name="asunto" placeholder="" required />
                                            <label for="asunto" class="placeholder">Asunto</label>
                                    </div>
                                </div>

                                <div class="alert alert-secondary" role="alert">
                                    <a href="#" data-toggle="modal" data-target="#ModalPlantillas">Plantillas de correo</a>
                                </div>


                                <div class="email-editor">
                                    <textarea name="contenido" id="editor" placeholder="Cuerpo del correo" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="card-action label-align-center">
                            <button name="Boton1" type="submit" class="btn btn-success">Terminar</button>
                            &nbsp;
                            <button name="Boton2" type="submit" class="btn btn-primary">Guardar para hacer Pruebas</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPlantillas" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel1">Plantillas de Correo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-12">

                    @CRMRetail.Utilidades.CustomHelpers.ContenidoPlantillas()

                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalVistaPrevia" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: gainsboro">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel1">Vista Previa de la Plantilla</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <center>
                    <div style="border:1px solid gray">


                        <img id="imagenaver" src="" class="responsiva">

                    </div>
                </center>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<script src="../assets/js/plugin/bootstrap-toogle/bootstrap-toggle.min.js"></script>

<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/js/plugin/summernote/summernote-bs4.min.js"></script>
<script src="../assets/js/plugin/summernote/summernote-es.js"></script>
<script>
    $('#editor').summernote({
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Times new Roman'],
        tabsize: 2,
        height: 300,
        lang: 'es-ES',
    });

    $('#ModalVistaPrevia').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Botón que dispara el modal
        var recipient = button.data('id')   // Extrae la info de los atributos data-* 
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Se muestra la plantilla de ' + recipient)
        //modal.find('.imagenaver').src='../../assets/img/' + recipient
        modal.find('.modal-body input').val(recipient)
        $(".modal-body #imagenaver").attr("src", '../../assets/img/' + recipient);
    });

    function CopiarCodigo(id) {
        $('#ModalPlantillas').modal('hide');
        //$('#editor').html('Hola');
        //$('#editor').summernote('code', '<h1>Bienvenido</h1><p>Hola, modifica estas líneas como lo necesites para crear tu correos</p>');
        //alert("Se obtendrá el código de la plantilla " + id);

        $.ajax({
            url: "/Marketing/MarketingCorreoPlantilla/",
            data: { id: id },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
                
            },
            success: function (data) {

                $('#editor').summernote('code', data.Codigo);

            },
            complete: function () {
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });


    } 
</script>