<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CorreoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.asae.com.mx:5050/Correo.asmx" binding="basicHttpBinding"
                bindingConfiguration="CorreoSoap" contract="ReferenciaDeServicioDeCorreoDeASAE.CorreoSoap"
                name="CorreoSoap" />
        </client>
    </system.serviceModel>
  <connectionStrings>
    <!-- Local -->
    <add name="CRMRetailConexion" connectionString="Data Source=DESKTOP-388ER4S\SQLEXPRESS;Initial Catalog=CRMRetail;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
    <!--Productivo-->
    <!--add name="CRMRetailConexion" connectionString="Data Source=172.16.1.202\SQLEXPRESS;Initial Catalog=CRMRetail;User ID=sa;Password=D3s4rr0ll0_;" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
</configuration>